
<app-header></app-header>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('assets/images/slider.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">
            DRIVING SUCCESS <br>
            - BALANCING LIFE -</h2>
          <p class="lead">IT ISN'T JUST ABOUT YOUR BUSINESS, IT'S ABOUT LIVING BETTER</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('assets/images/slider1.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">
            ENJOY YOUR TIME <br>
            - AWAY FROM WORK -</h2>
          <p class="lead">This is a description for the second slide.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('assets/images/slider2.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">WORK ON<br>
            - YOUR BUSINESS -</h2>
          <p class="lead">This is a description for the third slide.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>


  <div  class="social_icon">
  <a  class="pl-0 pr-3" href="#"><span _ngcontent-c6="" class="fa fa-facebook"></span></a>
   <a  class="pl-3 pr-3" href="#"><span _ngcontent-c6="" class="fa fa-twitter"></span></a>  
   <a  class="pl-3 pr-3" href="#"><span _ngcontent-c6="" class="fa fa-linkedin"></span></a></div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="heading_coach">CUSTOMIZED COACHING TO FIT YOU</h2>
      <div class="row">
        <div class="col-sm-4">
        <div class="servicebox">
          <img src="assets/images/img_1.jpg" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">Designed to help business owners and professionals 
              embrace the Strategic Mindset Process to drive success and build more balanced
               lives by preparing them to think strategically in everything they do.</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="servicebox">
          <img src="assets/images/img_2.jpg" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">Focus on key opportunity areas to achieve maximum performance,
               development, and results! The journey starts with self-discovery and
               continues through implementation to achieve business goals.</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="servicebox">
          <img src="assets/images/img_3.jpg" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">Rapidly achieve the goals you seek with The Growth Coach’s Fast-Forward Series. Develop continuous learning solutions that help 
              change behaviors and enhance the effectiveness of your organization.</div>
          </div>
        </div>
      </div>
      </div>


      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="heading_coach">GROWTH SOLUTIONS</h2>
      </div>
      <div class="col-sm-4">
        <div class="content_service">
        <div class="icon_service">
        <i class="fa fa-cogs" aria-hidden="true"></i></div>
      <div class="text_content">
        <h5>STRATEGIC BUSINESS MINDSET</h5>
        <p>Learn how to leverage your strengths to effectively seize opportunities and reach your untapped potential.</p>
      </div>
    </div>
      </div>
      <div class="col-sm-4">
        <div class="content_service">
        <div class="icon_service">
        <i class="fa fa-search" aria-hidden="true"></i></div>
        <div class="text_content">
          <h5>GROWTH COACH INSIGHTS</h5>
          <p>Behavioral analysis to unlock human potential; creating stronger teams, leaders, salespeople and companies.</p>
        </div>
        </div>
      </div>
        <div class="col-sm-4">
          <div class="content_service">
          <div class="icon_service">
          <i class="fa fa-handshake-o" aria-hidden="true"></i></div>
          <div class="text_content">
            <h5>STRATEGIC MANAGER COACHING</h5>
            <p>High-impact workshops to develop managers and key employees into true leaders who drive big results.</p>
          </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="content_service">
          <div class="icon_service">
            <i class="fa fa-line-chart" aria-hidden="true"></i></div>
          <div class="text_content">
            <h5>SALES MASTERY™ TRAINING</h5>
            <p>A unique sales coaching & accountability program specifically designed to produce high performance results.</p>
          </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="content_service">
          <div class="icon_service">
            <i class="fa fa-users" aria-hidden="true"></i></div>
          <div class="text_content">
            <h5>HIGH PERFORMANCE TEAMS</h5>
            <p>Having a strong team will benefit any organization, leading to more successes and happier employees.</p>
          </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="content_service">
          <div class="icon_service">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
          <div class="text_content">
            <h5>TEAM BUILDING FUNDAMENTALS</h5>
            <p>Having a strong team will benefit any organization and will lead to more successes, in business and at home.</p>
          </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="content_service">
          <div class="icon_service">
            <i class="fa fa-tasks" aria-hidden="true"></i></div>
          <div class="text_content">
            <h5>PERFORMANCE MANAGEMENT</h5>
            <p>A strategic approach to maximize employee performance while improving alignment towards a common goal.</p>
          </div>
          </div>
        </div>  <div class="col-sm-4">
          <div class="content_service">
          <div class="icon_service">
            <i class="fa fa-clock-o" aria-hidden="true"></i></div>
          <div class="text_content">
            <h5>SMART TIME MANAGEMENT</h5>
            <p>This module is partnered with your Growth Coach accountability to impact your productivity & efficiency.</p>
          </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="content_service">
          <div class="icon_service">
            <i class="fa fa-cubes" aria-hidden="true"></i></div>
          <div class="text_content">
            <h5>PROFESSIONAL EDUCATION CREDITS</h5>
            <p>Our Strategic Workshops help you meet your continuing professional education (CPE) credit requirements.</p>
          </div>
          </div>
        </div>
   
    </div>
  </div>

  <section>
    <div class="Growth_service">
      <div class="container">
        <div class="row">
        <div class="col-sm-6">
          <h2 class="heading_coach_sucess">WHY THE GROWTH COACH?</h2>
          <h6>AWARDED TOP EXECUTIVE COACHING COMPANY</h6>
          <p>Improving your business and your life is important. With a proven coaching process, The Growth Coach focuses on helping you find balance, With 9 ways on how we can accomplish this, The Growth Coach is the leading developer of business coaching services.</p>
        <h6>TAILORED TRAINING SOLUTIONS, DELIVERED COST-EFFECTIVELY</h6>
        <p>In fact, we designed our programs and materials to be quickly and economically adaptable for any audience, without sacrificing the quality or integrity of the training solution.</p>
        </div>
        <div class="col-sm-6">
          <h2 class="heading_coach_sucess">YOUR SUCCESS, OUR PRIORITY</h2>
          <img src="assets/images/why_gr.png" class="img-fluid">
        </div>
      </div>
      </div>
    </div>
  </section>
  
  <section class="testimonial text-center">
    <div class="container">

        <div class="heading white-heading">
            Testimonial
        </div>
        <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
         
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="testimonial4_slide">
                        <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <h4>Client 1</h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial4_slide">
                        <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" /><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <h4>Client 2</h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial4_slide">
                        <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <h4>Client 3</h4>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</section>
<section id="blog">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
      <h2 class="heading_coach_news" > LATEST NEWS</h2> 
      <div class="row">
        <div class="col-sm-6">
         <img src="assets/images/blog.jpg" class="img-fluid">
         <p>WHAT DID YOU WANT TO BE WHEN YOU GREW UP? DON’T LET FEAR HOLD YOU BACK</p>
        </div>
        <div class="col-sm-6">
          <img src="assets/images/blog1.jpg" class="img-fluid">
          <p>SPRING CLEANING YOUR BUSINESS</p>
        </div>
      </div>
      </div>
      <div class="col-sm-3">
        <div class="blog_list">
       <button class="btn btn-success">Veiw All</button>
       <div class="row">
         <div class="col-sm-6">
          <br>
           <img src="assets/images/blog2.jpg" class="img-fluid"><br><br>
          <img src="assets/images/blog3.jpg" class="img-fluid"><br><br>
          <img src="assets/images/blog1.jpg" class="img-fluid">
        </div>
         <div class="col-sm-6">
          <br><p class="content_blog">WHAT DID YOU WANT TO BE WHEN YOU </p><br>
        <p class="content_blog">WHAT DID YOU WANT TO BE WHEN YOU</p><br>
        <p class="content_blog">WHAT DID YOU WANT TO BE WHEN YOU</p>
        </div>
      </div>
       </div>
        </div>
    </div>
  </div>
</section>
<section class="subscribe">
  <div class="container">
    <h2 class="heading_sub">FREE STRATEGIC BUSINESS OWNER GUIDEBOOK</h2>
    <div class="form_group">
      <input class="form-control sub_btn" placeholder="Your email address">
      <button type="button " class="btn btn-success submit_btn">Submit</button>
    </div>
  </div>
</section>
<app-footer></app-footer>