<div class="sidebar" data-color="purple" data-background-color="white" data-image="./assets/images/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo"><a href="#" class="simple-text logo-normal">
   <img src="assets/images/dashlogo.jpg" width= "225px" >
      </a></div>
    <div class="sidebar-wrapper">
     

      <div id="accordion" class="accordion">
        <div class="card mb-0">
            <div class="card-header collapsed"  data-toggle="collapse" href="#collapseOne">
                <a class="card-title">
                 <i class="fa fa-user" style="font-size: 18px;"></i> PARTICIPANTS
                </a>
            </div>
            <div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
              <a class="card-title" href="participantList"> Participants  </a><br>
              <a class="card-title" href="add-participant"> Add Participants</a>
            </div>
            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                <a class="card-title">
                  <i class="fa fa-user" style="font-size: 18px;"></i>  MASTER <br> &nbsp;FRANCHISE
                </a>
            </div>
            <div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
              <a class="card-title" href="masterList"> MASTERS  </a><br>
              <a class="card-title" href="add-master"> Add Masters</a>
            </div>
            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                <a class="card-title">
                  <i class="fa fa-user" style="font-size: 18px;"></i>   OPERATIONAL<br> &nbsp; FRANCHISE
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion" >
                <div class="card-body">  <a class="card-title" href="coachList"> Coaches  </a>
                  </div>
            </div>

            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
              <a class="card-title">
                <i class="fa fa-user" style="font-size: 18px;"></i>  INVESTOR <br> &nbsp; FRANCHISE
              </a>
          </div>
          <div id="collapseFour" class="card-body collapse" data-parent="#accordion" >
            <a class="card-title" href="investorList"> Investors  </a>
          </div>
          <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
            <a class="card-title">
              <i class="fa fa-user" style="font-size: 18px;"></i>  REFERRAL<br> &nbsp; FRANCHISE
            </a>
        </div>
        <div id="collapseFive" class="card-body collapse" data-parent="#accordion" >
          <a class="card-title" href="referalList"> Referals  </a>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
          <a class="card-title">
            <i class="fa fa-user" style="font-size: 18px;"></i> INVOICE
          </a>
      </div>
      <div id="collapsesix" class="card-body collapse" data-parent="#accordion" >
        INVOICE 2
      </div>
      <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseseven">
        <a class="card-title">
          <i class="fa fa-user" style="font-size: 18px;"></i>TRAININGS
        </a>
    </div>
    <div id="collapseseven" class="card-body collapse" data-parent="#accordion" >
      <a class="card-title" href="trainings"> Trainings  </a><br>
      <a class="card-title" href="#"> Training Requests  </a>
    </div>



        </div>
    </div>


      
    </div>
  </div>