<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="assets/images/logo1.png"  class="about_coach_link">
                <p>The Growth Coach is a global business coaching company that helps
                     clients implement processes and disciplines to drive sustainable growth acceleration.</p>
                     
            </div>
            <div class="col-sm-8"><h4 class="heading_coach_link">Quick Links</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <ol>About Us</ol>
                        <ol>What We Do</ol>
                        <ol>Satisfaction Guarantee</ol>
                        <ol>Free Resources</ol>
                        <ol>Privacy Policy</ol>
                    </div>
                    <div class="col-sm-6">
                        <ol>Our Philosophy</ol>
                        <ol>Coaching Programs</ol>
                        <ol>Franchise Opportunities</ol>
                        <ol>Find a Coach</ol>
                        <ol>Contact</ol>
                    </div>
                </div>
        
      
            </div>
         
           
        </div>
    </div>

    <div class="bottom_footer">
        <div class="line"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="copyright_para">Copyright © 2020 The Growth Coach - All Rights Reserved<br>
                     Powered by Attractive.Media</p>
                 </div>
            </div>
        </div>
    </div>
</footer>
